# Servidor y Entorno
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/nutricheck_db?schema=public"
OPEN_FOOD_FACTS_API_URL="https://world.openfoodfacts.org"
OCR_PROVIDER_API_KEY="mock_key_for_mvp_1"