# Servidor y Entorno
NODE_ENV=development
PORT=3000
API_PREFIX=api/v1
DATABASE_URL="postgresql://postgres:postgres_password@localhost:5432/nutricheck_db?schema=public"
OPEN_FOOD_FACTS_API_URL="https://world.openfoodfacts.org"
OCR_PROVIDER_API_KEY="mock_key_for_mvp_1"
GOOGLE_SHEETS_SPREADSHEET_ID=tu_id_de_la_hoja_de_calculo_aqui
GOOGLE_SERVICE_ACCOUNT_EMAIL=tu-cuenta-servicio@proyecto.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQC...\n-----END PRIVATE KEY-----\n"